
html, body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background: $bg;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.35rem 0.65rem;
  color: $text;
  text-shadow: 0.5em 0.5em 0.7em rgba(0, 0, 0, 0.35);
  text-align: center;

  > *:not(:first-child) {
    margin-top: 1.5rem;
  }
  .app-description {
    font-size: 0.8rem;
  }
}

.app-image {
  width: 11.5rem;

  box-shadow: 0 0 1.35rem 0.4rem rgba(0, 0, 0, 0.3);
}