$icon-colors: (
  "repeat": #f5b748,
  "left": #ec5e6f,
  "star": #62b4f9,
  "right": #76e2b3,
  "lightning": #915dd1
);

.swipe-buttons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  .MuiIconButton-root {
    background-color: #fff;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
  }

  @each $name, $color in $icon-colors {
    .swipe-buttons__#{$name} {
      padding: 3vw !important;
      color: $color;
    }
  }
}
